<div class="container color-dark">
    <div class ="col">
       <p>Add new Customer </p></div>
       <div class ="col">
          <p>Existing</p></div>
      </div>
      <div class="container color-light" >
        <div class="col">
          <p class="sm"> Use this form to add new Customer..</p>
          <form>
            <input type="text" class="txt" name="firstName" value="First Name"  [(ngModel)]="firstName"> 
            <input type="text" class="txt" name="lastName"  value="Last Name" [(ngModel)]="lastName"> 
            <input type="text" class="txt" name="age" value="age"  [(ngModel)]="age"> 
            <input type="text" class="txt" name="sex" value="sex"  [(ngModel)]="sex"> 
            <input type="text" class="txt" name="mobile" value="mobile Number"  [(ngModel)]="mobile"> 
            <input type="submit" class="btn" value="add Item    " (click)="addItem()">
          </form>
  
        </div>
        <div class="col">
            <p class="life-container" *ngFor="let customer of customers; let i  = index" (click)="deleteItem(customer.id)" > {{customer.id}} </p>
          </div>
      </div>
